.footer{
    padding-top: 77px;
    padding-bottom: 50px;
}

.footer-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 76px;
}

.footer-contacts{
    width: 33%;
}

.footer-logo{
    width: 33%;
    text-align: center;
}

.footer-links{
    width: 33%;
    text-align:right;
}

.contact-list{
    display: flex;

}

.contact-item{
    color: #242b2d;
    font-size: 24px;
    font-family: Myriad Pro Regular;
    margin-right: 40px;
}

.footer .logo{
    color: #0aaee4;
}

.footer-copyright{
    display: flex;
    justify-content: center;
}

.copyright-text{
    color: #242b2d;
    font-size: 24px;
    font-family: Myriad Pro Regular;
}

.footer-link{
    font-size: 40px;
    color: #cecfcf;
    margin-right: 25px;
}