

.movie-img-block{
    width: 500px;
    height: 445px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.movie-item{
    width: 500px;
    margin-bottom: 38px;
}

.movie-info-block{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 56px;
    padding-bottom: 42px;
    background-color: #fff;
}

.movie-img{
    min-height: 100%;
    width: 100%;
}

.movie-item-title{
    font-size: 28px;
    font-weight: bold;
    font-family: Myriad Pro Regular;
    margin-bottom: 20px;
    margin-right: 42px;
    margin-left: 44px;
    text-transform: uppercase;
    width: 65%;
}

.movie-item-genre{
    font-size: 22px;
    font-family: Myriad Pro Regular;
    color: #47c3f0;
    margin-left: 41px;
    font-weight: bold;
}

.movie-info-block .score-value{
    color: #47c3f0;
}