@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

.table{
    width: 1192px;
    min-height: 736px;
    border:23px solid #3a4965;
    margin: 0 auto;
}

.table-row{
    text-align: center;
   font-family: 'Arimo', sans-serif;
}

.table-cell{
    box-shadow: 0px 3px 5px 2px #dadada ;
    border-collapse: collapse;
    vertical-align: middle;
    text-transform: uppercase;
    width: 277px;
    height: 69px;
    font-size: 16px;
    background-color: #f2f2f2;
    font-family: 'Arimo', sans-serif;
}

.table-cell:first-child{
    width: 310px;
}

.table-row:nth-child(even) td{
    background-color: #e3e3e3;
}

.main-subtitle{
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 54px;
    padding-bottom: 10px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}

.main-title{
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 54px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}

.header{
    color: #484848;
}

.header-row td{
    box-shadow: 0px 3px 5px 2px #dadada ;
}

.header-text{
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    height: 70px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}

.green{
     background-color: #89c331;
}

.red{
     background-color: #f04a56;
}

.blue{
     background-color: #20807c;
}

.price{
    font-size: 60px;
    vertical-align: middle;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    color: #484848;
    font-family: 'Arimo', sans-serif;
}

.price::after{
    content: 'PER MONTH';
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-left: -30px;
}

.price sup{
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
}

.button-cell{
    height: 110px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0px 3px 5px 2px #dadada ;
}

.button-cell:first-child{
    vertical-align: middle;
    
}

.main-btn{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding: 17px 57px;
    background-color: #89c331;
    border-radius: 5px;
    font-family: 'Arimo', sans-serif;
}

.button-cell:first-child .main-btn{
    padding: 17px 44px;
    background-color: #484848;
}

.button-cell:first-child .main-btn:hover{
    border-bottom: 5px solid #404040;
}

.button-cell:nth-child(3) .main-btn{
    background-color: #f04a56;
}

.button-cell:nth-child(4) .main-btn{
    background-color: #20807c;
}

.main-btn:hover{
    border-bottom: 5px solid #79b027;
}

.button-cell:nth-child(3) .main-btn:hover{
    border-bottom: 5px solid #df3a46;
}

.button-cell:nth-child(4) .main-btn:hover{
    border-bottom: 5px solid #16736f;
}

.button-cell:first-child{
    background-color: #ddd;
}

.button-cell:nth-child(even){
    background-color: #eee;
}

.button-cell:nth-child(3){
    background-color: #f4f4f4;
}

.fas{
    font-size: 24px;
    color: #484848;
    margin-right: 10px;
}