.header{
    background-image: url(../../../../../../shared/img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
    margin-bottom: 69px;
    position: relative;
}

.wrap{
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(rgba(15, 15, 15, 0.5),  rgba(5, 5, 5, 0) );
}

.container{
    width: 2122px;
    margin: 0 auto;
}

.header-title{
    font-size: 60px;
    font-family: Myriad Pro Regular;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 27px;
    font-weight: bold;
}

.header-subtitle{
    font-size: 24px;
    color: #ffffff;
    font-family: Myriad Pro Regular;
    letter-spacing: 1px;
}