
body{

    background-size: cover;
    background-position:  center;

}

.container{
    width: 1200px;
    margin: 0 auto;
}

/*HEADER*/

.header{
    margin-top: 61px;
    margin-bottom: 51px;
}

.logo{
    margin-bottom: 45px;
}

.header-logo{
    font-size: 80px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    color: #000;
}

.color-text{
    color: #4bcaff;
}

.menu-list{
    background-color: #35444f;
    text-align: center;
    font-size: 0;
}

.menu-item{
    display: inline-block;
}

.menu-link:nth-child(2){
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.menu-link:hover{
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.menu-link{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 20px 40px ;
    text-align: center;
}

/*MAIN CONTENT*/

/* LEFT SIDE */

.left-side-bar{
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}

.left-side-list{
    border:1px solid #000;
    width:344px;
    display: inline-block;
}

.left-side-link{
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    color: #55636d;
    padding-top: 30px ;
    padding-bottom: 30px;
    padding-left: 40px;
    display: block;
}

.left-side-item:hover{
    background-color: #dbdbdb;
}

.left-side-link:hover {
    padding: 30px 20px 30px 70px;
}

.left-side-item:hover .left-side-link{
    color: #000000;
}

.left-side-item.colored-link{
    background-color: #dbdbdb;

}

.colored-link>.left-side-link{
    color: #000000;
}

/* RIGHT SIDE*/

.right-side-bar{
    width:800px;
    box-sizing: border-box;
    display: inline-block;
}

.main-img{
    border: 1px solid #000 ;
    margin-bottom: 50px;
}

.main-img-link:hover .right-side-img{
    padding: 100px 250px;
   transition:0.4s;
}

.right-side-img{
    padding: 75px 250px;
    box-sizing: border-box;
}

.right-side-text:first-child{
    margin-bottom: 30px;
}

.right-side-text{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #565656;
    margin-left: 30px;
}

.right-side-text:last-child{
    margin-bottom: 50px;
}

/*FOOTER*/

.footer-nav{
    background-color: #b4b7ba;
    margin-bottom: 30px;
}

.footer-nav-list{
    display: inline-block;
    padding-top: 22px ;
    padding-bottom: 21px ;
    margin-left: 40px;
}

.footer-nav-item{
    display: inline-block;
    margin-right: 15px;
}

.footer-nav-link{
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 28px;
    color: #0c1927;
}

.footer-nav-link:hover{
    color: #3181a6;
    padding-bottom: 3px;
    border-bottom: 1px solid #3181a6;
}

.footer-nav-copyright{
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 70px;
}

.footer-nav-link.text-colored {
    color: #3181a6;
    padding-bottom: 3px;
    border-bottom: 1px solid #3181a6;
}