@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');


.table{
    width: 1170px;
    border: 27px solid #3a4965;
    margin: 0 auto;
}

.table-row{
    border-bottom: 2px solid #cacaca;
}

.table-cell{
    width: 157px;
    height: 166px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #848484;
    line-height: 1.5;
}

.left-side-table{
    width: 198px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 24px;

}

.table-header{
    line-height: 1.5;
    color: #848484;
    height: 112px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.left-side-header{
    line-height: 1.5;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #484848;
}

.left-side-subtitle{
    font-size: 14px;
}

.left-side-title{
    font-size: 20px;
}

.table-row .table-header,
.table-row .table-cell{
    background-color: #e3e3e3;
}

.table-row .table-cell:nth-child(odd),
.table-row .table-header:nth-child(odd){
    background-color: #f2f2f2;
}

.table-row:nth-child(1) .left-side-table{
    background-color: #89c331;
}

.table-row:nth-child(2) .left-side-table{
    background-color: #f04a56;
}

.table-row:nth-child(3) .left-side-table{
    background-color: #20807c;
}

.price-number{
    color: #ffffff;
    font-size: 36px;
}

.price-text{
    margin-bottom: 20px;
}

.price-subnumber{
    font-size: 18px;
    vertical-align: top;
    color: #ffffff;
    display: inline-block;
    margin-top: 7px;
}

.price-text::after{
    content: 'PER MONTH';
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.left-side-text{
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 22px;
}

.main-btn{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding: 13px 34px;
    background-color: #414141;
    border-radius: 5px;
    font-family: 'Arimo', sans-serif;
    border-bottom: 5px solid #343434;
}