@mixin f-center{
  justify-content: center;
  display: flex;
}

@mixin wrap-f{
  display: flex;
  flex-wrap: wrap;
}

@mixin d-none{
  display: none;
}

@mixin wrap-f-center{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}