@import "variables";
@import "mixins";
@import "reset";
@import "sections/sections";

.container {
  margin: 0 auto;
  max-width: 1170px;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@media  (max-width: 1168px){
  .container{
    margin: 0 80px;
  }
}

.img-fluid{
  max-width: 100%;
}


@media  (max-width: 768px){
  .container{
    margin: 0 28px;
  }
}