.categories{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom:1px solid #bcc0c0be ;
}

.categories-block{
    margin-bottom: 70px;
}

.category-list{
    display: flex;

}

.category-list-item{
    font-size: 28px;
    font-family: Myriad Pro Regular;
    color: #0aaee4;
    margin-right: 50px;
}

.template{
    font-size: 40px;
    color: rgb(119, 119, 119);
    margin-right: 15px;
}

.template.active{
    color: #0aaee4;
}