
.footer {
  background-color: #000;
  padding: 50px 0;
  text-align: center;

  &-contact-title {
    font-family: $roboto;
    color: #EAEAEA;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 22px;
  }

  &-contact-text {
    color: #6B6C6C;
    box-sizing: border-box;
    margin: 0 auto 26px;
    font-family: $roboto;
    line-height: 1.5;
  }
}

.social-links {
  margin-bottom: 31px;
 @include wrap-f-center;
}

.social-icon {
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  margin-right: 9px;
}
.rss-icon {
  color: #c6762b;
  border: 1px solid #c6762b;
}
.facebook-icon {
  color: #334c82;
  border: 1px solid #334C82;
}
.tumblr-icon {
  color: #3c8eb6;
  border: 1px solid #3C8EB6;
}
.dribbble-icon {
  color: #ae658f;
  border: 1px solid #AE658F;
}
.pinterest-icon {
  color: #a42129;
  border: 1px solid #A42129;
}

.our-contacts {
  color: #6B6C6C;
  text-align: center;
  font-size: 16px;
}
