.header {
  padding: 118px 0 66px 0;
}

//HAM BUTTON

.ham-button{
  display: none;
}

.menu {
  position: absolute;
  background-color: #000000;
  padding: 15px;
  top: 50px;
  right:10px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.5s ease;
  height: 18px;
  &:hover .bar {
    box-shadow: 1px 1px 7px 1px RGBa(0, 0, 0, 0.3);
  }
  .bar {
    width: 17px;
    height: 2px;
    background: $white;
    box-shadow: 1px 1px 3px RGBa(0, 0, 0, 0.4);
    border-radius: 2px;
    transition: 0.4s ease;
    &:not(:first-child) {
      margin-top: 5px;
    }
  }
}
#hi {
  position: absolute;
  left: -999px;
  top: -999px;
}
#hi:checked + .menu {
  transform: translate(-50%,-50%) rotatey(180deg);
  .bar {
    transform: rotatey(180deg) rotatex(360deg);
    &:first-child {
      transform: rotate(-45deg);
      margin-top: 10px;
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      margin-top: -9px;
      transform: rotate(45deg);
    }
  }
}

//NAVBAR

.navbar {
  padding-top: 23px;
  padding-bottom: 23px;
  display: none;
  justify-content: center;

  &-nav {
    display: flex;
    justify-content: center;

    &-item {
      display: inline-block;
      margin-right: 30px;
    }

    &-link {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      color: #4e4e4e;
      font-family: "Lato" , sans-serif;
      font-weight: bold;
      transition: 0.4s;
    }

  }
}

.navbar-nav-link:hover {
  color: $blue;
}

.navbar-nav-link.active {
  color: $blue;
}

.img-fluid{
  max-width: 100%;
}
@media  (max-width: 1168px){

  .navbar{
    display:flex;
    margin-bottom: 41px;
  }

  .header {
    padding-top: 41px;
  }
}

@media (max-width: 768px) {
  .navbar.active .navbar-nav{
    flex-direction: column;
    position: absolute;
    background-color: $white;
    right:20px;
    top: 78px;
    padding: 0;
    margin: 0;
    width: 182px;
  }

  .navbar-nav-item{
    padding: 10px 0 10px 13px;
    border-bottom: 1px solid #F5F5F5;
  }

  .ham-button{
    display: block;
  }

  .header {
    padding-top: 83px;
  }

  .navbar{
    @include d-none;
  }

  .navbar.active{
    display: flex;
    padding: 0;
    margin: 0;
  }
}
