.instagram{
  background-color: #F7F7F7;
  padding: 70px 0;

  &-block-titles{
    display: flex;
    justify-content: space-between;
  }

  &-post-title{
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
    color: #4E4E4E;
    font-weight: bold;
  }

  &-page-link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 30px;
    color: #4E4E4E;
    font-weight: bold;
  }

  &-post-box {
    display: flex;
    justify-content: space-around;
  }

  &-post-link {
    text-decoration: none;
  }

  &-post-img{
    max-width: 285px;
  }
}

.instagram-post-title.second{
  @include d-none;
}

@media  (max-width: 1168px){
  .instagram-post-link:last-child{
    @include d-none;
  }
}

@media (max-width: 768px) {
  .instagram-post-link:nth-child(2),.instagram-post-link:nth-child(3){
    @include d-none;
  }

  .instagram-post-title{
    @include d-none;
  }

  .instagram-page-link{
    @include d-none;
  }

  .instagram-post-title.second{
    display: flex;
  }
}
