.recents-posts{
  padding: 80px 0 71px;

  &-title{
    text-transform: uppercase;
    font-size: 16px;
    font-family: $roboto;
    margin-bottom: 25px;
    font-weight: bold;
  }

  &-block {
    @include wrap-f;
  }
}


.recents-post {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 24px;
  @include wrap-f;
}

.recent-post-img {
  margin-right: 20px;
  flex-wrap: wrap;
}

.recent-post-content {
  box-sizing: border-box;
  padding-right: 28px;
  width: 69% ;
}

.recent-post-title {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  font-family: $roboto;
  margin-bottom: 6px;
  line-height: 1.5;
}

.recent-post-info {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 11px;
  font-family: $roboto;
  font-style: italic;
}

.recent-post-text {
  width: 440px;
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  font-family: $roboto;
}

@media (max-width: 1168px){
  .recents-post{
    width: 100%;
  }

  .recent-post-content{
    width: 50%;
  }
}

@media (max-width: 768px){


  .recent-post-content{
    width: 75%;
  }

  .recents-post:last-child{
   @include d-none;
  }

  .recent-post-text{
    @include d-none;
  }

  .recent-post-title{
    font-size: 14px;
  }

  .recent-post-info{
    font-size: 11px;
  }
}