.subscribe{
    background-image: url('../../../../shared/img/subscribe.png');
    background-position:  center;
    background-size: 2500px;
    background-repeat: no-repeat;
    z-index: 1;
    background-attachment: fixed;
    padding-top: 139px;
    padding-bottom: 120px;
    width: 100%;
    margin-bottom: 37px;
    position: relative;
}
.wrap-con{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 2;
}

.subscribe-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 3;
    position: relative;
}

.subscribe-title-block{
    width: 100%;
    display: flex;
    justify-content: center;
}

.subscribe-title{
    font-size: 56px;
    font-family: Myriad Pro Regular;
    line-height: 1.5;
    color: #ffffff;
    width: 1087px;
    margin-bottom: 48px;
    text-align: center;
}

