.navbar{
    
    padding-bottom: 62px;
    padding-top: 22px;
    margin-bottom: 708px;
    background: linear-gradient(rgba(15, 15, 15, 0.5),  rgba(5, 5, 5, 0) );;
}

.search{
    font-size: 40px;
    color: #ffffff;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
}