body {
    margin: 0;
    padding: 0;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.wrapper {
    width: 800px;
    padding: 30px;
    margin: 30px auto;
    border: 3px solid black;
}

.header{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-title {
     text-transform: uppercase;
     font-size: 20px;
     color: #000;
     margin-left: 40px;
}

.btn-start {
    display: block;
    background: lightseagreen;
    padding: 10px 20px;
    color: gray;
}

.cell{
    width: 60px;
    height: 30px;
    border: 1px solid black;
}

.select{
    padding: 10px 20px;
    color: rgb(144, 216, 238);
    background-color: rgba(211, 211, 211, 0.11);
}

.level-block{
    display: flex;
    
}

.cell.active {
    background-color: blue;
}

.cell.bonked {
    background-color: green;
}

.cell.missed {
    background-color: red;
}

.game-container{
    margin: 0 auto;
}

#changeDifficult{
    margin-left: 450px;
}
