@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src:  url('../../../shared/fonts/myriad-pro-cufonfonts-webfont/MYRIADPRO-REGULAR.woff') ;
    }

    @font-face {
        font-family: 'Myriad Pro Bold';
        font-style: normal;
        font-weight: normal;
        src:  url('../../../shared/fonts/myriad-pro-cufonfonts-webfont/MYRIADPRO-BOLD.woff') ;
        }

.main-app{
    background-color: #f5f6f6;
    padding-bottom: 145px;
}

.loader{
    margin-top: 123px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.loader-icon{
    color:#0aaee4;
    font-size: 80px;
}

.loader-text{
color: #242b2d;
font-size: 22px;
font-family: Myriad Pro Regular;
text-transform: uppercase;
margin-top: 21px;
}