@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap');

/* COMMON */

body {
    min-height: 100vh;
}

.btn {
    font-size: 16px;
    padding: 10px 40px;
    border-radius: 10px;
}

.btn-send-form {
    font-weight: bold;
    color: #ffffff;
    background: #7291FF;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-send-form:disabled {
    background: #8EA7FF;
}

/* JOKES PAGE */

.joke-generator-page {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
}

/* MAIN CONTENT */

.main-content {
    flex: 0 0 66.666666%;
    max-width: 66.666666%;
    padding-top: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
}

.main-content-wrapper {
    flex: 0 0 680px;
    max-width: 680px;
    margin-right: 140px;
}

.header-logo {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 78px;
}

/* WELCOME BLOCK */

.welcome-block {
    margin-bottom: 45px;
}

.welcome-text-lg {
    font-size: 32px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.welcome-text-md {
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 10px;
}

/* SELECT JOKE TYPE FORM */

.select-joke-form {
    margin-bottom: 40px;
}

.form_radio {
    margin-bottom: 18px;
}

.form_radio input[type=radio] {
    display: none;
}

.form_radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-right: 0;
    font-size: 18px;
    color: #333333;
    line-height: 26px;
    user-select: none;
}

.form_radio label::before {
    content: "";
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 3px;
    background: #fff;
    border: 2px solid #ABABAB;

}

.form_radio input[type=radio]:checked + label::before {
    border-color: #333333;
}

.form_radio input[type=radio]:checked + label::after {
    content: "";
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    background: #333333;
    left: 5px;
    top: 8px;
    position: absolute;
    border-radius: 50%;
}

.form_radio label:hover::before {
    filter: brightness(120%);
}

.form-group {
    margin-bottom: 18px;
}

.search-field {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    border: 2px solid #333333;
    border-radius: 10px;
    font-size: 16px;
    color: #333333;
    outline: none;
}

.search-field::placeholder {
    color: #ABABAB;
}

/* JOKE CATEGORIES */

.joke-categories {
    display: flex;
    margin-bottom: 18px;
}

.joke-category {
    display: inline-block;
    background-color: #fff;
    border: 2px solid #F8F8F8;
    border-radius: 6px;
    padding: 6px 20px;
    color: #ABABAB;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .4s;
    cursor: pointer;
}

.joke-category.selected {
    background: #F8F8F8;
    border: 2px solid #F8F8F8;
    color: #333333;
}

.joke-categories .joke-category {
    margin-right: 10px;
}

.joke-categories .joke-category:hover {
    background: #F8F8F8;
    border: 2px solid #F8F8F8;
    color: #333333;    
}

.joke-item .joke-category {
    font-size: 10px;
    color: #333333;
    border: none;
}



/* JOKE FEED */

.joke-item {
    width: 680px;
    box-sizing: border-box;
    padding: 67px 40px 40px 100px;
    background: #F8F8F8;
    border-radius: 20px;
    position: relative;
    margin-bottom: 20px;
}

.joke-type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 67px;
    left: 40px;
}

.joke-type-text-icon {
    background: url("../img/text-joke-icon.png") no-repeat;
    display: inline-block;
    width: 20px;
    height: 19px;
    box-sizing: border-box;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joke-type-text-line {

    width: 9px;
    height: 1px;
    background: #ABABAB;
    margin-bottom: 1px;
}

.joke-favorite-icon {
    display: inline-block;
    width: 20px;
    height: 17px;
    background: url('../img/joke-favorite-icons.png') -50px -10px;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.joke-favorite-icon:hover {
    background-position: -10px -10px;
}

.joke-favorite-icon.active {
    background-position: -10px -10px;
}

.joke-id {
    font-size: 10px;
    font-weight: 500;
    color: #ABABAB;
    margin-bottom: 7px;
}

.joke-id-link {
    color: #8EA7FF;
}

.joke-id-link-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url("../img/joke-id-link-icon.png") no-repeat;
    text-decoration: none;
    margin-left: 5px;
}

.joke-text {
    color: #333333;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 23px;
}

.joke-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.joke-last-update {
    color: #ABABAB;
    font-size: 10px;
}

/* FAVORITE JOKES */

.favorite-jokes-sidebar {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    background: #F8F8F8;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 40px;
}


.favorite-jokes-title {
    font-weight: 500;
    font-size: 20px;
    color: #ABABAB;
    margin-bottom: 20px;
}

.favorite-joke-item {
    box-sizing: border-box;
    width: 400px;
    border-radius: 10px;
    padding: 47px 20px 20px 80px;
    background: #fff;
    margin-bottom: 20px;
    position: relative;
}

.joke-type.joke-type-grey {
    background: #F8F8F8;
}

.joke-type.favorite-joke-type {
    top: 47px;
    left: 20px;
}

.joke-favorite-icon.sidebar-favorite-icon {
    top: 20px;
    right: 20px;
}

.favorite-joke-text {
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}
