.btn{
    font-size: 28px;
    font-family:Myriad Pro Regular;
    padding: 15px 45px;
    color: #fff;
    outline:none;
    border:none;
    border-radius: 5px;
}

.blue{
    background-color: #0AAEE4;
}

.transparent{
    background-color: rgba(0, 0, 0, 0);
}

.border{
    border:1px solid #fff;
}