.header-footer{
    display: flex;
    justify-content: space-between;
    padding-top:34px ;
    padding-bottom: 52px;
}

.film-score{
    display: flex;
}

.rating-star{
    font-size: 40px;
    color: hsl(195, 92%, 47%);
    font-family: Myriad Pro Regular;
    margin-left: 13px;
}

.stars{
    margin-right: 15px;
}

.more{
    padding: 5px;
    font-size: 60px;
    color: #ffffff;
    font-family: Myriad Pro Regular;
    margin-left: 33px;
    vertical-align: bottom;
}