.container{
    margin: 0 auto;
    width: 1160px;
}

.main{
    background-image: url(../StepProjectHam/Sectionsbackground/section-1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header{
    background-color: rgba(95,94,89,0.5);

}
.header-nav{
    display: flex;
    justify-content: space-between;

}

.logo{
    display: flex;
    position: relative;
    padding-left: 65px;
    align-self: center;
}

.logo-link::before{
    content: url("../StepProjectHam/H.png");
    width: 58px;
    height: 67px;
    position: absolute;
   top:-15px;
    left:5px;

}
.logo-link{
    text-decoration: none;
    color: #ffffff;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}
.green-text{
    text-transform: uppercase;
    color: #18cfab;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.nav-list{
    display: flex;
}
.nav-list::after{
    content:url("../StepProjectHam/SearchIcon.png");
    margin-left: 17px;
    width: 22px;
    align-self: center;

}

.list-item{
    margin-left: 15px;
    padding: 56px 0;
}

.list-link.active{
    color: #18cfab;
    position: relative;
}

.main-title{
    padding-bottom: 244px;our
}

.list-link.active::after{
    content: "";
    width: 100%;

    position: absolute;
    border-top: solid 2px #18cfab;
    top:71px;
    left:0;
}

.list-link{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.header-subtitle{
    padding-top: 246px;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 45px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.header-title{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 36px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.second-subtitle{
    text-align: center;
    color: #d4d4d4;
    font-size: 30px;
    margin-bottom: 142px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}
.main-btn{
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    box-shadow: 0 -4px 0 #fff ;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.main-btn:first-child{
    background-color: #18cfab;
    padding: 26px 32px;
    margin-right: 28px;
}
.main-btn:last-child{
    background-color: #00cbf6;
    padding: 26px 26px;
}
.btns{
    text-align: center;

}

/*OUR ADVANTAGE*/

.our-advantages {

    display: flex;
    justify-content: stretch;
}
.advantage{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background-color:#1c2a33 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 7px solid #ffffff;
    box-sizing: border-box;
}

.advantage:nth-child(odd) .advantage-title{
    margin-top: 38px;
}

.advantage-title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    margin-top: 59px;
    font-family: 'Montserrat', sans-serif;
}
.advantage:nth-child(even){
    background-color:#18cfab;

}

.advantage:nth-child(odd){
    border-top: 7px solid  #18cfab;
}

.our-service{
    background-color: #ffffff ;
    margin-bottom: 101px;
}

.title{
   padding-top: 82px ;
    font-size: 36px;
    text-align: center;
    color: rgba(78, 78, 78, 255);
    margin-bottom: 112px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.our-service-menu{

}

.title::after{
    content: "";
    width: 76px;
    position: absolute;
    border-top: solid 1px #18cfab;
    right: 530px;
    top:160px;
    padding-bottom: 3px;
    border-bottom: solid 1px #18cfab;
    transform: skew(75deg);
}

.service-list{
    display: flex;

}

.service-link{
    text-decoration: none;
    font-size: 16px;
    color: rgba(113, 113, 113, 255);
    width: 193px;
    height: 73px;
    border: 1px solid #ebecec;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.service-link.active::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 73px;
    border-top: 10px solid #18cfab;
}

.service-link.active{
    background-color: #18cfab;
    color: #ffffff;
}

.service-content.active{
    display: flex;
}

.service-content{
    display: none;
}

.service-content-img{
    width: 194px;
    margin-right: 20px;
    margin-top: 24px;
}

.service-content-text{
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(119, 119, 119, 255);
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

/*BUY NOW*/

.buy-now{
    padding-top: 128px;
    background-image: url("../StepProjectHam/Sectionsbackground/section-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    text-align: center;
}

.buy-now-title{

    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 35px;
    font-family: 'Montserrat', sans-serif;
}

.buy-now-subtitle{
    font-size: 16pt;
    color: rgba(216, 216, 216, 255);
    text-align: center;
    margin-bottom: 76px;
    font-family: 'Montserrat', sans-serif;
}

.buy-now-btn.main-btn{
    background-color: #18cfab;
    font-weight: bold;
    margin-bottom: 127px;
    font-family: 'Montserrat', sans-serif;
}

/*OUR AMAZING WORK*/

.portfolio-menu{
    display: flex;
    justify-content: center;

}

.btn-outline-dark{
    text-decoration: none;
    font-size: 14px;
    color: rgba(113, 113, 113, 255);
    padding: 22px 25px;
    border: 1px solid #ebecec;
    cursor: pointer;
    position: relative;
    margin-bottom: 71px;
    font-family: 'Montserrat', sans-serif;
}
.btn-outline-dark.active{
    border-top: 3px solid #18cfab;
}


.portfolio-item{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-img-block{
    display: none;
    position: relative;
}

.portfolio-hover-item{
    display: none;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background-color: #ffffff;
    width: 289px;
    height: 208px;
    justify-content: center;
    align-items: center;
    border:1px solid grey;
    flex-direction: column;
}

.portfolio-hover-item.active{
    display: flex;
}

.icon{
    padding: 12px;
    border-radius: 50%;
    border:1px solid #18cfab;
    color: #18cfab;
}
.icon:nth-child(2){
    background-color:#18cfab;
    color: #ffffff;
}
.hover-title{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.hover-subtitle{
    text-align: center;
    color: rgba(138, 138, 138, 255);
    margin-top: 14px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.hover-icons{
    margin-bottom: 34px;
}

.portfolio-img-block.active{
    display: block;
    width: 25%;
}

.portfolio-img{
    width: 100%;
    height: auto;
    margin-bottom: -3px;
}

.load-more{
    margin-top: 71px;
    text-align: center;
}

.load-more-btn{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px;
    font-size: 14px;
    background-color: #18cfab;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
}

/*NEWS*/

.news-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news{
    width: 263px;
    position: relative;
    text-decoration: none;
}

.news:hover .news-date-block{
    background-color: #18cfab;
}
.news:hover .news-title{
    color:#18cfab;
}


.news:nth-child(4),.news:nth-child(8){
    margin-right: 0;
}

.news-title{
    font-size: 18px;
    font-weight: bold;
    padding-top: 14px;
    margin-bottom: 14px;
    margin-left: 13px;
    color: rgba(113, 113, 113, 255);
    font-family: 'Montserrat', sans-serif;
}

.news-date-block{
    position: absolute;
    background-color: #203e38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right:0;
    color: #ffffff;
    top:0;
}

.news-date{
    padding-top: 15px;
    margin-bottom: 10px;
    padding-left: 28px;
    padding-right: 22px;
    font-family: 'Montserrat', sans-serif;
}

.news-month{
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
}

.news-author{
    margin-bottom: 12px;
    margin-left: 17px;
    color: rgba(119, 119, 119, 255);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.news-box{
    border:1px solid #ebebeb;
    border-top:none;
    margin-bottom: 45px;
}

/*PEOPLE SAY*/

.people-say{
    background-image: url(../StepProjectHam/Sectionsbackground/section-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.people-say .title{
    font-size: 36pt;
    color: rgba(255, 255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

.quotes{
   color: #18cfab;
    font-size: 35px;
    text-align: center;
    margin-bottom: 44px;
    font-family: 'Montserrat', sans-serif;
}

.character{
    display: none;
    text-align: center;

}

.character.active{
    display: block;
}

.character-text{
    font-size: 16pt;
    color: rgba(187, 187, 187, 255);
    text-align: center;
    margin-bottom: 43px;
    font-family: 'Montserrat', sans-serif;
}

.character-name{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.character-job{
    font-size: 12pt;
    color: rgba(187, 187, 187, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 37px;
}



.character-photo{
    border-radius: 50%;
    border:2px solid #18cfab;
    text-align: center;
    margin-bottom: 68px;
    width: 143px;
    height: 143px;
    box-shadow: rgba(24,207,171,0.2) 0 0 0  10px;
}

.big-photo{

}


.characters-mini{
    display: flex;
    justify-content: center;
    padding-bottom: 103px;
    cursor: pointer;

}



.arrow{
    font-size: 40px;
    color: rgba(187, 187, 187, 255);
    vertical-align: top;
    display: inline-block;
    padding-top: 15px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;



}


.mini-photo{
    width: 62px;
    height: 62px;
    margin: 0 17px;
    position:relative;
    box-shadow: rgba(24,207,171,0.2) 0 0 0  4px;
}

/*FOOTER*/

.footer{
    background-color:#22353f;
    margin-bottom: 11px;
    text-align: center;
}

.footer-green-text{
    color: #18cfab;
}

.footer-text{
    font-size: 14pt;
    color: rgba(174, 174, 174, 255);
    padding-top: 47px;
    padding-bottom: 47px;
    font-family: 'Montserrat', sans-serif;
}
