.score-value{
    padding: 5px 13px;
    color: #ffffff;
    border: 1px solid hsl(195, 92%, 47%);
    border-radius: 10px;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-family: Myriad Pro Regular;
    font-size: 24px;
}